{{!-- book-details.hbs --}}

<h1>{{title}}</h1>
<hr>
<p>Written by: {{author}}</p>
<p>Summary: {{description}}</p>
<p>Rating: {{rating}}/10</p>
<hr>
<br>
<a href="/books/delete/{{_id}}"><button>DELETE this book</button></a>
<br>
<a href="/books">Back to books list</a>